# History, data, and project files
.Rhistory
.Rproj.user
.RData

# Example code in package build process
*-Ex.R
seminar_03/seminar_03_lattice_ggplot2/figure
seminar_03/seminar_03_lattice_ggplot2/seminar_03_lattice_ggplot2.md
seminar_03/seminar_03_lattice_ggplot2/seminar_03_lattice_ggplot2.html
seminar_04/figure
seminar_04/seminar_04_two_group_comparisons_and_data_aggregation.md
seminar_04/seminar_04_two_group_comparisons_and_data_aggregation.html
rstats_cheatsheet.md
rstats_cheatsheet.html
seminar_05/seminar_05_lowvol_linear_modelling.html
seminar_05/seminar_05_lowvol_linear_modelling.md
